.text {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: cornflowerblue;
}
#profile-pic {
    height: 300px;
}
html {
    height: 100%;
  }
  
  
  #content {
    background-color: #e3f2fd;
    /* flex: 1; */
    padding: 20px;
    bottom: 20px;
    position: absolute;
    width: 90%;
    display: grid;
    grid-template-columns: 100%;
  }
  
  #footer {
    background-color: lightgray;
    padding: 20px;
    height: 65px;
  }
  /* footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
} */
#github {
    vertical-align: 0em;
}
#linkedin {
    vertical-align: 0em;
}