.fabtext {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 400;
}

.projects-paragraphs {
    font-size: 1rem;
}

.web-screen-shots-div > a{
    border: 1px solid lightgray;
}


.button-links {
    justify-self: center;
    align-self: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    /* flex-wrap: wrap; */
}

.button-links >li {
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button-links >li > a {
    margin: 1%;
}

.buttons-div {
    display: flex;
    justify-content: center;
    /* grid-template-columns: 70% 30%; */
}

.live {
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 4 auto;
}

.live > a {
    margin: 1%;
    width: 100%;
}

.jaron-pic{
    height: 400px;
    background-image: url("../../images/jaron-01.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 85%;
    margin:auto;
}

#closing-pic {
    height: 700px;
    background-image: url("../../images/forest.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    margin:auto;
}

#contact {
    text-align: center;
    margin: auto;
    justify-self: center;
}

#contact > input {
    width: 95%;
}

.top-buttons-div {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-button {
    width: 48%;
    min-width: 217px;
}

#get-in-contact {
    margin-right: 5%;
}

#get-in-contact:hover {
    cursor: pointer
}


.bio {
    font-size: 1rem;
}

.education {
    font-size: 1rem;
}

.email {
    margin-top: 5%;
}

@media screen and (max-width:1267px) {
    .jaron-pic{
        width: 100%;
    }
    #closing-pic {
        display: none;
    }

    .top-buttons-div {
        flex-direction: column;
        width: 100%;
    }

    .end-breaks {
        display: none;
    }
    #get-in-contact {
        margin: 5%;
    }
}